html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url('../images/header-bg.jpg');
  background-image: image-set(
    '../images/header-bg.avif' type('image/avif'),
    '../images/header-bg.webp' type('image/webp'),
    '../images/header-bg.jpg' type('image/jpeg')
  );
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #f5f5f5;
}

.header__top {
  padding: 64px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.logo {
  justify-self: center;
}

.menu {
  justify-self: start;
}

.menu__list {
  display: flex;
}

.header__phone {
  justify-self: end;
}
