@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30px 100px 0;
  overflow: hidden;
  background: #fff;
  background: url('../images/spaceship-1.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(140%);
  transition: 0.5s;
}

.banner .tilt {
  position: absolute;
  content: '';
  top: 30px;
  left: 40px;
  right: 0;
  bottom: 30px;
  background: linear-gradient(30deg, rgba(0, 0, 0, 0.6), transparent);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 15px solid rgba(0, 0, 0, 0.8);
  border-right: none;
  padding: 30px 50px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  transition: 1s;
  transition-delay: 0.5s;
}

.banner .tilt.active {
  right: 30px;
  border-radius: 15px solid rgba(0, 0, 0, 0.8);
}

.banner .content {
  position: relative;
  max-width: 45%;
  max-height: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.banner .content h1 {
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.banner .content p {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1px;
}

.banner .content a {
  margin-top: 50px;
  text-decoration: none;
  color: #fff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 10px 40px;
  letter-spacing: 1px;
  font-weight: 200;
  text-transform: uppercase;
  transition: 0.5s;
}

.banner .content a:hover {
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  z-index: 10;
}

.logo {
  font-size: 40px;
  color: #fff;
  letter-spacing: 1px;
}

.logo img {
  max-width: 200px;
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  margin: 0 20px;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
  text-transform: uppercase;
}

.nav li:hover a {
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5);
}

.login {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  padding: 5px 25px;
  font-weight: 200;
  transition: 0.5s;
  text-transform: uppercase;
}

.login ion-icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.login:hover {
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5);
  transform: translateX(3px);
}

.banner .arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 1s;
}

.banner .arrow img {
  max-width: 100px;
  filter: invert(1);
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.9;
  }
}

.banner .arrow.active {
  right: 650px;
  transform: translateY(-50%) rotateZ(180deg);
}

.banner .item {
  position: absolute;
  content: '';
  right: -600px;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  height: 75%;
  padding: 30px;
  gap: 20px;
  background: transparent;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: left;
  transition: 1s;
}

.banner .item.active {
  right: 45px;
}

.banner .item iframe {
  max-width: 512px;
  max-height: 288px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .item .description {
  padding: 20px;
}

.banner .item .description h4 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 20px;
}

.banner .item .description p {
  color: #fff;
  font-weight: 200;
}

.banner .sci {
  position: absolute;
  left: 100px;
  bottom: 60px;
  display: flex;
  gap: 15px;
}

.banner .sci li {
  list-style: none;
}

.banner .sci ion-icon {
  color: #fff;
  font-size: 1.5em;
  transition: 0.5;
  padding: 5px;
}

.banner .sci ion-icon:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.banner .credits {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  color: #fff;
  font-weight: 200;
  font-size: 0.9em;
}

.viewer {
  z-index: 5;
  position: absolute;
  width: 200px;
  height: 200px;
  background: url('../images/spaceship-1.jpeg') 50% 50% no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
  box-shadow: inset 0 0 60px rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 100;
  display: none;
}

.viewer.active {
  display: block;
}

.banner:hover .viewer {
  opacity: 1;
}
